<p>list of products</p>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z2">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="Product ID">
    <th mat-header-cell *matHeaderCellDef> Product ID </th>
    <td mat-cell *matCellDef="let element"> {{ element.idproduct }} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="Product Name">
    <th mat-header-cell *matHeaderCellDef> Product Name </th>
    <td mat-cell *matCellDef="let element"> {{ element.nameproduct}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="Category ID">
    <th mat-header-cell *matHeaderCellDef> Category ID</th>
    <td mat-cell *matCellDef="let element"> {{ element.idcategory }} </td>
  </ng-container>

  <ng-container matColumnDef="Product Pict">
    <th mat-header-cell *matHeaderCellDef> Product Pict</th>
    <td mat-cell *matCellDef="let element"> {{ element.productpict }} </td>
  </ng-container>


  <!-- <ng-container matColumnDef="Action">
    <th mat-header-cell *matHeaderCellDef> Action </th>
    <td mat-cell *matCellDef="let element">
      <button mat-flat-button color="primary" (click)="openDialog(element)">Details</button>
      <button mat-flat-button color="warn" (click)="doDeleteUser(element.iduser)">Delete</button> -->
    <!-- </td>
  </ng-container> -->

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

