<form class="forms-sample" [formGroup]="productForm" (ngSubmit)="closeDialog()">
  <div class="form-group">
    <!-- <h2>Add Product</h2> -->
    <label>Name</label>
    <input type="text" class="form-control form-control-sm" placeholder="Name of product" formControlName="nameproduct">
  </div>

  <div class="form-group">
    <label>Category ID</label>
    <select class="form-select" aria-label="Default select example" formControlName="idcategory">
      <option selected>Open this select menu</option>
      <option value="1">Video</option>
      <option value="2">Music</option>
      <option value="3">Movie</option>
    </select>
  </div>

  <br>
  <button type="button" class="btn btn-primary mr-2 float-end" >Cancel</button>
  <button type="submit" class="btn btn-primary mr-2 float-end" >Submit</button>
</form>
