
<h4>User Management</h4>

<!-- <canvas id="myChart" width="500" height="100"></canvas> -->


<button class="btn btn-primary" (click)="openDialog()">Add Product</button>
<button class="btn btn-primary" (click)="doGetUser()">Refresh Product</button>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z2">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="User ID">
    <th mat-header-cell *matHeaderCellDef> User ID </th>
    <td mat-cell *matCellDef="let element"> {{ element.iduser }} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="Username">
    <th mat-header-cell *matHeaderCellDef> Username </th>
    <td mat-cell *matCellDef="let element"> {{ element.username}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="Email">
    <th mat-header-cell *matHeaderCellDef> Email</th>
    <td mat-cell *matCellDef="let element"> {{ element.email }} </td>
  </ng-container>

  <ng-container matColumnDef="Balance">
    <th mat-header-cell *matHeaderCellDef> Balance</th>
    <td mat-cell *matCellDef="let element"> {{ element.ewalletbalance }} </td>
  </ng-container>


  <ng-container matColumnDef="Action">
    <th mat-header-cell *matHeaderCellDef> Action </th>
    <td mat-cell *matCellDef="let element">
      <button mat-flat-button color="primary" (click)="openSubscription(element.iduser)">Details</button>
      <button mat-flat-button color="warn" (click)="doDeleteUser(element.iduser)">Delete</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
