

<div class="admin-container d-flex">
  <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px; height: 100%">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <span class=" sidebar-description fs-4">Main Menu</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/dashboard">
          Products
        </a>
      </li>
      <li>
        <a class="nav-link text-white" routerLink="/categories">
          Categories
        </a>
      </li>
      <li>
        <a class="nav-link text-white" routerLink="/manageusers">
          Manage Users
        </a>
      </li>
      <li>
        <a class="nav-link text-white" routerLink="/transactions">
          Transactions
        </a>
      </li>

      <li>
        <a class="nav-link text-white" (click)="doLogout()" >
          logout
        </a>
      </li>
    </ul>
    <hr>
  </div>
  <main class="main-content w-100 p-3">
    <router-outlet></router-outlet>
  </main>
</div>
