<div class="card">
<div class="flex-container space-between">
  <h2 class="flex-item">Product Categories</h2>
  <button mat-stroked-button color="primary" (click)="doGetCategories()" class="flex-item">Refresh</button>
</div>

<div class="addcategory pt-2 pb-4" >
  <button mat-flat-button color="primary" (click)="openDialog()">Add Category</button>
</div>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z1">

    <!-- Name Column -->
    <ng-container matColumnDef="Category Name">
      <th mat-header-cell *matHeaderCellDef> Category Name </th>
      <td mat-cell *matCellDef="let element"> {{element.namecategory}} </td>
    </ng-container>

        <!-- Position Column -->
    <!-- <ng-container matColumnDef="Category ID">
      <th mat-header-cell *matHeaderCellDef> . </th>
      <td mat-cell *matCellDef="let element"> {{element.idcategory}} </td>
    </ng-container> -->

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let element">

        <div class="action-button">
        <button mat-flat-button color="primary"(click)="openDetails(element.idcategory)">details</button>
        <button mat-flat-button color="primary" (click)="openDialog(element)">Edit</button>
        <!-- <img [src]="element.productpict" alt="" width="100px" > -->
        <button mat-flat-button color="warn" (click)="doDeleteCategories(element.idcategory)">Delete</button>

      </div>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  </div>


