<div class="container-login col-md-12 offset-md-12">
  <div class="col-md-4 offset-md-4">
    <div class="card bg-light">
      <h5 class="card-header">Register</h5>
      <div class="card-body bg-light">
        <form class="forms-sample" [formGroup]="registerForm" (ngSubmit)="doRegister()">
          <!-- <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control form-control-sm" placeholder="Name" formControlName="name" [ngClass]="registerForm.controls.name.errors?.required ? 'is-invalid': 'is-valid' ">
            <div *ngIf="( errorControl.name.dirty || errorControl.name.touched ) && errorControl.name.errors">
              <span *ngIf="registerForm.controls.name.errors?.required" style="color: red;">
                Name is required
              </span>
              <span *ngIf="errorControl.name.errors?.maxlenght">
                Name should be max 10 chars long
              </span>
            </div>
          </div> -->
          <!-- <div class="form-group">
            <label>Email</label>
            <input type="email" class="form-control form-control-sm" placeholder="Email" formControlName="email" [ngClass]="registerForm.controls.email.errors?.email || registerForm.controls.email.errors?.required ? 'is-invalid': 'is-valid' ">
            <div *ngIf="( errorControl.email.dirty || errorControl.email.touched ) && errorControl.email.errors">
              <span *ngIf="registerForm.controls.email.errors?.required" style="color: red;">
                Email is required
              </span>
            </div>
          </div> -->
          <div class="form-group">
            <label>Username</label>
            <input type="text" class="form-control form-control-sm" placeholder="Username" formControlName="username" [ngClass]="registerForm.controls.username.errors?.required ? 'is-invalid': 'is-valid' ">
            <div *ngIf="( errorControl.username.dirty || errorControl.username.touched ) && errorControl.username.errors">
              <span *ngIf="registerForm.controls.username.errors?.required" style="color: red;">
                Username is required
              </span>
            </div>
          </div>
          <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control form-control-sm" placeholder="Password" formControlName="password" [ngClass]="registerForm.controls.password.errors?.required ? 'is-invalid': 'is-valid' ">
            <div *ngIf="( errorControl.password.dirty || errorControl.password.touched ) && errorControl.password.errors">
              <span *ngIf="registerForm.controls.password.errors?.required" style="color: red;">
                Password is required
              </span>
            </div>
          </div>
          <br>
          <button type="submit" class="btn btn-primary mr-2 float-end" (click)="doRegister()" >Register</button>
        </form>
      </div>
    </div>
    <br>
  </div>

</div>
