
<!-- <img src="https://awsimages.detik.net.id/visual/2020/06/09/jordan-netflix.jpeg?w=650" alt=""> -->
<div class="card">

<div class="flex-container space-between">
  <h2 class="flex-item">Products</h2>
  <button mat-stroked-b utton color="primary" (click)="doGetProduct()" class="flex-item">Refresh</button>
</div>

<button class="btn btn-primary" (click)="openDialog()">Add Product</button>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z0">

  <!-- Name Column -->
  <ng-container matColumnDef="Product Name">
    <th mat-header-cell *matHeaderCellDef> Product Name </th>
    <td mat-cell *matCellDef="let element"> {{element.nameproduct}} </td>
  </ng-container>

  <ng-container matColumnDef="Category ID">
    <th mat-header-cell *matHeaderCellDef> Category ID </th>
    <td mat-cell *matCellDef="let element"> {{ element.idcategory }} </td>
  </ng-container>

  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef> Action </th>
    <td mat-cell *matCellDef="let element">

      <button mat-flat-button color="primary" (click)="openDialog(element)">Edit</button>

      <img [src]="element.productpict" alt="" width="100px" >
      <button mat-flat-button color="warn" (click)="doDeleteProduct(element.idproduct)">Delete</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
</div>
</div>
