<div class="card">
<h4> Transactions </h4>


<!-- <canvas id="myChart" width="500" height="100"></canvas>
 -->

<button class="btn btn-primary mt-2 mb-3" (click)="doGetTransaction()" >Refresh</button>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z2">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="Transaction ID">
    <th mat-header-cell *matHeaderCellDef> Transaction ID </th>
    <td mat-cell *matCellDef="let element"> {{element.idtransaction}} </td>
  </ng-container>

  <ng-container matColumnDef="Transaction Amount">
    <th mat-header-cell *matHeaderCellDef> Transaction Amount </th>
    <td mat-cell *matCellDef="let element"> {{element.amounttransaction}} </td>
  </ng-container>

  <!-- <ng-container matColumnDef="ID Product">
    <th mat-header-cell *matHeaderCellDef> ID Product </th>
    <td mat-cell *matCellDef="let element"> {{element.idusertrans}} </td>
  </ng-container>

  <ng-container matColumnDef="ID User">
    <th mat-header-cell *matHeaderCellDef> ID User </th>
    <td mat-cell *matCellDef="let element"> {{element.idproducttrans}} </td>
  </ng-container>

  <ng-container matColumnDef="ID Product Details">
    <th mat-header-cell *matHeaderCellDef> ID Product Details </th>
    <td mat-cell *matCellDef="let element"> {{element.idproductdetailtrans}} </td>
  </ng-container> -->

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
</div>
