<form [formGroup]="categoryForm" (ngSubmit)="closeDialog()">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Nama Category</label>
    <input type="namecategory" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Name Category" formControlName="namecategory" [ngClass]="categoryForm.controls.namecategory.errors?.required ? 'is-invalid' : 'is-valid'"  >
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
